*{
  /* font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; */
  /* second Fonts */
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.bada-header{
  width: 100%;
  height: 100vh;
  /* background-color: #15191a; */
  background-color: #242731;
}
.moving-border {
  width: 100px;
  height: 100px;
  position: relative;
  padding: 2px;
}
.moving-border::before,
.moving-border::after {
  content: "";
  position: absolute;
  inset: -0.0rem;
  z-index: -1;
  background: linear-gradient(var(--angle), 
  #021124,  #192629, #b00);
  animation: rotate 5s linear infinite;
}
.moving-border::after {
  filter: blur(10px);
}
@keyframes rotate {
  0%     { --angle: 0deg; }
  100%   { --angle: 360deg;}
}
.loginform{
  display: flex;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 385px;
  width: 800px !important;
}
.container-fluid{
  --bs-gutter-x: -0.10rem !important;
}
.main-page{
  display: flex;
  width: 100%;
}
.sidebar{
  width: 250px;
  height: 100vh;
  /* background-color: #11192a; */
  /* background-color: rgb(17, 25, 42); */
  background-color: rgb(23, 46, 46);
  /* background-color: #333333 ; */
  /* background-color: #303035  ; */
  /* background-color: #5C6BC0 ; */

}
.header{
width: 100%;
height: 77px;
box-shadow: 5px 0px 8px 0px lightgray;
}
.sidebar .sidebar-menu div {
  color: whitesmoke;
  padding: 10px 5px;
  margin: 5px;
  transition: 0.3s;
  border-radius:3px;
  font-size: 22px;
}
.sidebar .sidebar-menu a {
 text-decoration: none !important;
}
.active div{
  background-color: white;
  color: rgb(12, 32, 33) !important;
}
.sidebar .sidebar-menu div:hover{
  background-color: white;
  color: rgb(12, 32, 33);
}
.p-paginator {
  background: #ffffff;
  color: #6b7280;
  border: solid #f3f4f6;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  gap: 10px;
  margin-top: 30px;
}
.p-link {
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #dee1e4e8;
  border-color: #ecfeff;
  color:black;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #6b7280;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}
.p-column-title{
  background-color:#dee1e4e8 !important;
  width: 100% !important;
  
}
.datatable{
  text-align: center;
  background-color: #f5f5f5; 
  font-size: 17px;
  border: 0.5px solid #dfd5d5;
  border-radius: 5px;
  line-height: 52px !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    border: 1px solid #d2d4db;
    border-width: 0 0 1.5px 0;
    padding: 0.2rem 0.2rem;
}

#custom-modal {
  display: none;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#custom-modal table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#custom-modal th, #custom-modal td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.main-container{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: transform 0.30s ease-in-out;
  border-radius: 10px;
 
}

.main-container:hover {
  transform: scale(1.05); 
  cursor: pointer;
}

div h5 .heading-table{
  border: 1px solid black;
}
.error_msg{
  color: indianred;
  text-transform: capitalize;
  font-size: 15px;

}
  /* .p-toast-message {
    background-color: rgba(255, 0, 0, 0.5); 
    color: #ffffff; 
    padding: 10px 20px;
    border-radius: 10px;
    width: 320px;
    font-size: 17px;
    height: 70px;
    border-left-color: rgba(243, 12, 12, 0.459);
    border-left-width: 20px;
    border-left-style: solid;
  }
  .p-toast-icon {
    font-size: 3rem !important; 
  }
  .p-toast-close-icon {
    font-size: 3rem !important; 
  }

  div:where(.swal2-container) div:where(.swal2-timer-progress-bar){
    width: 100%;
    height: 0.4rem !important;
    background:#fb5238 !important;
   
  } */
  .box1{
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
  }
 
  .charts{
    height:410px;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
  }

  .table-container {
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
   
  }
  
  .datatable-container {
    margin-top: 20px;
  }
  
  .datatable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .datatable th,
  .datatable td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  .search-input {
    width: 150px;
  }
  .error_msg {
    color: red;
  }

  /* switcher css */
  .switcher-main {
    display: flex;
    justify-content:space-between;
   
  }

.parent-toogle {
  position: relative;
  margin-left: auto; /* Adjust as needed */
  left: 100%;
  top:-20%;
}

.switch {
  position: absolute;
  top:28%;
  left:0%;
  right:0%;
  width: 40px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-color: #ccc;
  border-radius: 10px;
  margin-left: 82px;
  cursor: pointer;
}

.switch::after {
  content: '';
  position: absolute;
  top: 2px; /* Adjust as needed */
  left: 2px; /* Adjust as needed */
  width: 16px; /* Adjust as needed */
  height: 16px; /* Adjust as needed */
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .switch {
  background-color: #2196F3; /* Adjust as needed */
}

input[type="checkbox"]:checked + .switch::after {
  transform: translateX(20px); /* Adjust as needed */
}

.getswitched{
  outline: none !important;
}
.getswitched:hover{
  cursor: pointer !important;
  border-color: #007bff !important;
  outline: none !important;
  box-shadow: 0 0 5px #007bff !important;
}

/* 
.serachbar-box{
  position: relative;
}

.child-serch-icon{
  position: relative;
  top:0px;
  left:0px;

} */


.searchbar-box {
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.searchbar-box:hover {
  transform: scale(0.95);
}

.search-icon {
  margin-right: 8px;
  --bs-text-opacity: 1;
  color: rgba(108, 93, 211, var(--bs-text-opacity)) !important;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  
}

.search-input {
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

 
}
.search-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.dots-parent{
  position: relative;
}
.dots{
  position: absolute;
  top: 26px;
  left: 22px;
  /* color: rgb(73, 195, 177); */
  color: green;
  font-size: 18px !important;
}

.badge-parent{
  position: relative;
}
.badge{
  position: absolute;
  top: -1px;
  left: 13px;
  font-size: 10px !important;
}




















  
 
 /* Media Queries */

 @media only screen and (max-width: 768px) {
  .datatable th,
  .datatable td {
    font-size: 12px;
    padding: 5px;
  }
}

@media only screen and (max-width: 576px) {
  .search-input {
    width: 100%;
  }
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
  .box1 {
    width: 100%;
    max-width: 50%; /* Display two cards per row on medium devices */
  }
}

@media (max-width: 768px) {
  .box1 {
    width: 100%;
    max-width: 100%; /* Display one card per row on small devices */
  }
}

@media (max-width: 576px) {
  .box1 {
    width: 100%;
    max-width: 100%; /* Display one card per row on extra small devices */
  }
}

.progress {
  height:20px; /* Adjust the height of progress bars */
}


  


 

  
  
  






